extends ../node_modules/jade-bootstrap/_bootstrap

block body

  +navbar("Freifunk Wetter","dropdown_menu")
    +nav_item("index.html","active") Home
    +nav_item("about.html") About
    +nav_item("contact.html") Contact
    +nav_item_dropdown("#")(label="Dropdown")
      +nav_item("#") Action
      +nav_item("#") Another Action
      +nav_item("#") Something else here
      +nav_divider
      +nav_header Nav header
      +nav_item("#") Separated link
      +nav_item("#") One more separated link

  .container
    .row
      .col-md-6
        p Sensor Temperatur: #{temp} C
        p Sensor Luftfeuchtigkeit: #{humidity} %
        p Sensor Luftdruck: #{pressure} Pa
      .col-md-3
      .col-md-3
        h4 Sensor eintragen
        +input("text","txtName","10.34.xxx.xxx","IP-Adresse")
        p Koordinaten
        .row
          .col-md-6
            +input("text","txtName","xx.xxxxxx","Lat")
          .col-md-6
            +input("text","txtName","xx.xxxxxx","Lng")
        +checkbox("Daten sind korrekt")
        +submit("Eintragen")
